{% extends 'App/padre.html' %}
{% load crispy_forms_tags %}

{% block contenidoQueCambia %}

<div class="row">
    <div class="col-md-12 p-5">
        <h3>Empezar conversación</h3>
    </div>
</div>
    <form method="POST">
        {% csrf_token %}
        <h4> Indica el usuario que quieres escribirle </h4>
        {{ form | crispy }}
        <div class="d-grid gap-2">
            <button class="btn btn-success mt-3" type="submit">Continuar</button>
        </div>
    </form>

<a href="{% url 'inbox' %}" class="btn btn-light">Volver al inbox</h3>

{% endblock contenidoQueCambia %}