{% extends 'App/padre.html' %}

{% load crispy_forms_tags %}

{% block titulo %}

<div class="container">
    <div class="row">
        <div class="col-md-12 p-5">
            <h3 style="color:white">Tus conversaciones</h3>
        </div>
    </div>

    {% for thread in threads.all %}
    <div class="row mb-3">
        <div class="card col-md-12 p-5 shadow-sm">
            <h5> {{ thread.receiver }} - {{thread.user}}</h5>
            <a class="stretched-link" href="{% url 'thread' thread.pk %}"></a>
        </div>
    </div>
    {% endfor %}

    <div class="row">
        <div class="col-mod-12 p-5">
            <form method="GET" action="{% url 'create-thread' %}">
                <button class="btn btn-light p-3" type="submit"> Empezar chat </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
