{% extends "App/padre.html" %}

{% load static %}

<!-- -->
{% block titulo %}
<H1 class="mx-auto my-0 text-uppercase">Sobre Mi</H1>
<h5 class="text-white-50 mx-auto mt-2 mb-5"> Me llamo Horacio, tengo 28 años y juego videojuegos desde los 5,
    soy economista, pero en mi tiempo libre me dedico a buscar nuevas joyitas jugables que a veces stremeo en 
twitch.tv/Horyan, soy fanático de los juegos SoulsBorne y juegos difíciles que te hacen más infeliz que feliz,
pero bueno, no sé que más decir sobre mi así que dejo palabras random por si a alguien le interesa leerlas: 
banana, agua, 25, purranque, patopurific, cuadrado, RE, bombilla, internet caído, sopa para uno, (dentro del parrafo hubieron 23 "e")  
</h5>

<img src="https://static-cdn.jtvnw.net/jtv_user_pictures/716c1789-5c50-4679-8a0f-3b2786a64265-profile_image-300x300.png"/>


{% endblock %}

<!-- -->
{% block contenidoQueCambia %}
<body style="background-color:black">
    <p class="text-white-50 mx-auto mt-2 mb-5"> Cualquier sugerencia puedes enviarla a la información de contacto al final de la página  </p>> 
</body>
{% endblock %}




{% block contacto %}
<!-- CONTACTO-->
<section class="contact-section bg-black">
    
            <div class="row-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-envelope text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Contacto</h4>

                        <div class="small text-black-50"><a href="#!">hory.san93@gmail.com</a></div>
                    </div>
                </div>
            </div>
    
</section>
{% endblock %}

