{% extends "App/padre.html" %}

{%load static %}



{% block contenidoQueCambia %}
       <!-- Creamos el listado de profesores y el boton para eliminar-->
                    <!-- linkeando con la URL eliminarProfesor -->
{% endblock %}

{% block titulo %}
<h3 style="color:whitesmoke"> Agregando avatar de {{usuario}} </h3>

<form action="{% url 'agregarAvatar' %}" method="POST" enctype="multipart/form-data"> {% csrf_token %}

    <table style="color:white">
        {{formulario.as_table}}
    </table>

    <input type="submit" value="Agregar avatar">

</form> 
{% endblock %}